* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
}

body {
  position: unset !important;
}

html,
body, 
div#__next {
  color: white;
  background: transparent linear-gradient(180deg, #000000 0%, #222222 100%) 0% 0% no-repeat padding-box;
}

div#__next {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.embla {
  position: relative;
  height: 100%;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -0;
  height: 100%;
}

.embla__slide {
  position: relative;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 100%;
}

@media only screen and (max-width: 515px) {
  .pc {
    display: none !important;
  }

  .chakra-icon.slick-arrow.slick-next {
    right: 0 ;
    top: 340px;
  }

  .chakra-icon.slick-arrow.slick-prev {
    left: 0;
    top: 340px
  }

  .article-list {
    grid-gap: 25px;
  }
}

@media only screen and (min-width: 520px) {
  .sp {
    display: none !important;
  }

  .article-list {
    grid-gap: 68px;
  }
}

@keyframes mv-pulse {
  0% {
    box-shadow: 0 0 0 0px #30D3EA;
  }
  100% {
    box-shadow: 0 0 0 100px #FFFFFF00;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


.animatedBorder {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    259deg,
    #000 50%,
    #30CDE4 100%
  );
  border-radius: 50%;
  animation-name: Rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.slide-right {
  animation: 2s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -30%;
  }
  to {
    margin-left: 0%;
  }
}

.slide-left {
  animation: 2s slide-left;
}
@keyframes slide-left {
  from {
    margin-left: 30%;
  }
  to {
    margin-left: 0%;
  }
}

.slide-left-100 {
  animation: 2s slide-left-100;
}
@keyframes slide-left-100 {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}