* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
}

body {
  position: unset !important;
}

html,
body, 
div#__next {
  color: white;
  background: transparent linear-gradient(180deg, #000000 0%, #222222 100%) 0% 0% no-repeat padding-box;
}

div#__next {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.embla {
  position: relative;
  height: 100%;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -0;
  height: 100%;
}

.embla__slide {
  position: relative;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 100%;
}


@keyframes mv-pulse {
  0% {
    box-shadow: 0 0 0 0px #30D3EA;
  }
  100% {
    box-shadow: 0 0 0 100px #FFFFFF00;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}